*{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
}

body,html{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #79c7dd;
}

.navbar{
  height:8%;
  position: fixed;
  top:0;
  list-style-type: none;
  z-index: 1;
  left:0;
  align-items: center;
  display: flex;
  user-select:none;
}

.navbar li{
  cursor: pointer;
  padding:7px;
  background-color: #7aa8cd;
  margin-left:5px;
  box-shadow:  2px 2px 2px #6997cd;
}

#name-change{
display:none;
position:absolute;
z-index:2;
height:100%;
width:100%;
margin:auto;
background-color: rgba(140,170,225,.5);
}

.ui{
  position: absolute;
  height:90%;
  width:99%;
  padding:2px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom:0;
}

.messages{
  background-color: #FFF;
  position: relative;
  bottom:10px;
  height:87%;
  overflow-y: auto;
  margin:2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#message-form{
  position: relative;
  bottom:20px;
  display: flex;
  box-shadow: none;
  width:98%;
  margin:15px;
}

#type-window{
  font-size: 18px;
  height:30px;
  width:90%;
  flex-grow: 1;
}

#message-button{
  background-color: #7aa8cd;
  width:10%;
  min-width:100px;
  border:none;
}

#new-name{
  line-height: 15px;
  padding:5px;
}
